<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <!-- core:css -->
  <link rel="stylesheet" href="../assets/vendors/core/core.css" />
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link
    rel="stylesheet"
    href="../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css"
  />
    <link
    rel="stylesheet"
    href="../assets/fonts/feather-font/css/iconfont.css"
  />
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../assets/css/style.css" />
  <!-- End layout styles -->
  <link rel="shortcut icon" href="../assets/images/favicon.png" />
</head>
<body>
    <div class="main-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar">
          <div class="sidebar-header">
            <a href="#" class="sidebar-brand larges"><h4>Clinica los Cocos</h4> </a>
            <div class="sidebar-toggler not-active">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="sidebar-body">
            <ul class="nav">
              <li class="nav-item nav-category">Libros</li>
              <li class="nav-item">
                <a href="EcografiaGinecologico.html" class="nav-link">
                  <i class="link-icon" data-feather="book"></i>
                  <span class="link-title">Ecográfia Ginecológico</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="EcografiaObstretrica.html" class="nav-link">
                  <i class="link-icon" data-feather="plus-square"></i>
                  <span class="link-title">Ecográfia Obstrétrica</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- partial -->
        <div class="page-wrapper">
          <!-- partial:partials/_navbar.html -->
          <nav class="navbar">
            <a href="#" class="sidebar-toggler">
              <i data-feather="menu"></i>
            </a>
            <div class="navbar-content">
              <ul class="navbar-nav">
                <li class="nav-item dropdown nav-profile">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="profileDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <img
                      id="profileUser"
                      src="../assets/images/user.png"
                      alt="profile"
                    />
                  </a>
                  <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <div
                      class="dropdown-header d-flex flex-column align-items-center"
                    >
                      <div class="figure mb-3">
                        <img
                          id="profileUserBox"
                          src="../assets/images/user.png"
                          alt="profile"
                        />
                      </div>
                      <div class="info text-center">
                        <p id="profileName" class="name font-weight-bold mb-0">
                          Nombre Usuario
                        </p>
                        <p id="profileEmail" class="email text-muted mb-3">
                          Email
                        </p>
                      </div>
                    </div>
                    <div class="dropdown-body">
                      <ul class="profile-nav p-0 pt-3">
                        <li class="nav-item">
                          <a href="#" id="btnLogout" class="nav-link">
                            <i data-feather="log-out"></i>
                            <span>Cerrar Sesión</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <!-- partial -->
          
          <div class="page-content">
            <div class="row">
                <h4>Bienvenido: <span class="small">walter Pacherrez Elias</span></h4>

              <div class="col-md-12 grid-margin stretch-card">
                
                
              </div>
              <div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
                <h1>card</h1>
              </div>

            </div>
          </div>
          <!-- partial:partials/_footer.html -->
          <footer
            class="footer d-flex flex-column flex-md-row align-items-center justify-content-between"
          >
            <p class="text-muted text-center text-md-left">
              Copyright © 2022 <a href="https://github.com/carmonabernaldiego/electron">Biblioteca CKH</a>. Todos los derechos
              reservados
            </p>
          </footer>
          <!-- partial -->
        </div>
      </div>
      <script src="./js/load-user.js"></script>
      <script src="../assets/vendors/core/core.js"></script>
      <script src="../assets/vendors/datatables.net/jquery.dataTables.js"></script>
      <script src="../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
      <script src="../assets/vendors/promise-polyfill/polyfill.min.js"></script>
      <!-- end plugin js for this page -->
      <!-- inject:js -->
      <script src="../assets/vendors/feather-icons/feather.min.js"></script>
      <script src="../assets/js/template.js"></script>
</body>
</html>